<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog list</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<p>
    <a href="/blog/create-form" class="btn btn-secondary">Create</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>
        <th>Author</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blog, iterStat: ${blogPage}">
        <td th:text="${iterStat.count}"></td>
        <td th:text="${blog.getTitle()}"></td>
        <td th:text="${blog.getContent()}"></td>
        <td th:text="${blog.getAuthor()}"></td>
        <td>
            <a th:href="@{/blog/update-form/{id}(id = ${blog.getId()})}" class="btn btn-primary">Edit</a>
        </td>
        <td>
            <!-- Button trigger modal -->
            <a th:href="@{/blog/delete/{id}(id = ${blog.getId()})}" class="btn btn-danger">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<div style="display: flex">
    <a class="page-item" th:if="${blogPage.hasPrevious()}"
       th:href="@{/blog(page=${blogPage.number - 1},title = ${freeText})}">
        Previous
    </a>

    <a class="page-item" th:each="p : ${pages}" th:if="${p != blogPage.number}"
       th:href="@{/blog(page = ${p}, name = ${freeText})}" th:text="${p+1}">
    </a>

    <a class="page-item" th:if="${blogPage.hasNext()}"
       th:href="@{/blog(page = ${blogPage.number + 1}, name = ${freeText})}">
        Next
    </a>


</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script>
    function getProductInfo(id, title) {
        document.getElementById("deleteId").value = id;
        document.getElementById("deleteBlog").innerText = title;
    }
</script>
</body>
</html>